body {
  font-family: 'Times New Roman', Times, serif;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  color: rgb(16, 106, 141);
  text-align: center;
  font-size: 3rem;
}

.main-container {
  text-align: center;
}

.event-header {
  color: rgb(45, 45, 199);
  font-size: 2.5rem;
  margin-left: 2rem;
}

/* .data-text {
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

h2 {
  color: rgb(165, 42, 159);
}

.list {
  list-style: none;
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.refresh {
  margin-left: 1.8rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.refresh:hover {
  cursor: pointer;
  background-color: black;
  color: beige;
}
