body {
  background: rgb(38, 46, 46);
  display: block;
  width: 100%;
  /* display: flex; */
}
p {
  color: rgb(108, 194, 115);
  font-family: monospace;
  font-weight: 200;
  margin-left: 2rem;
  margin-right: 2rem;
}
.ph {
  color: rgb(175, 187, 177);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

.ps {
  color: rgb(175, 187, 177);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  font-size: x-small;
}

.pAlt {
  
    color: rgb(243, 150, 228);
    font-family: monospace;
    font-weight: 200;
    margin-left: 2rem;
    margin-right: 2rem;
  
}

.mh {
  color: rgb(190, 204, 193);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  text-align: center;
}

h2 {
  color: rgb(228, 156, 222);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 1000;
  background: rgb(55, 58, 55);
  background-size: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 20px;
  border-radius: 15px;

  margin-left: 4rem;
  margin-right: 4rem;
  text-align: center;
}

.motdBox {
  margin-left: 2rem;
  background: rgb(39, 41, 40);
  padding: 10px;
  border: 20px;
  border-radius: 15px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.motdText {
  margin-left: 2rem;
  margin-right: 2rem;
  flex: 1;
}

.iconBox {
  background: rgb(139, 141, 141);

  border: 10px;
  margin-left: 2rem;
  flex: 1;
}

.serverDets {
  flex-direction: column;
}

.playerDets {
  flex-direction: column;
}
